body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.po{
    width: 50%;
    padding-left: 5%;
}
.po img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
.top-banner{
          background-image: url(images/top-banner.png);
          background-repeat: no-repeat;
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.po2{
    width: 50%;
    margin-right: 10%;
}
.po2 img{
    width: 80%;
    margin-left: 10% ;
}